footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 50px;
    background-color: rgb(14, 30, 19);
    box-shadow: 0 -10px 20px rgba(0,0,0,0.19), 0 -6px 6px rgba(0,0,0,0.23);
    color: white;
}

footer .footer-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    width: 200px;
}

footer .contacts {
    position: relative;
    display: flex;
    width: 100px;
    height: 100%;
    justify-content: space-between;
    margin-right: 40px;
}