.main-header {
    width: 100vw;
    height: 70px;
    background-color: rgb(14, 30, 19);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: white;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 2;
}

.main-header .header-title {
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    width: 200px;
}

.main-header .drop-down {
    position: relative;
    margin-right: 40px;
    border: solid 1px white;
    border-radius: 50%;
    padding: 12px;
    cursor: pointer;
}

.main-header .drop-down:hover .menu-items {
    display: block;
    animation: down 0.5s ease-out forwards;
}

@keyframes down{
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.main-header .drop-down .menu-items {
    position: absolute;
    width: 160px;
    height: 120px;
    background-color: rgb(14, 30, 19);
    color: white;
    left: -120px;
    top: 49px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 3px;
    list-style: none;
    display: none;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-items li {
    display: flex;
    width: calc(100% - 20px);
    height: 20px;
    padding: 10px;
    cursor: pointer;
    border-bottom: solid 1px rgb(239, 180, 65);
}

.menu-items li:last-child {
    border-bottom: none;
}

.menu-items li:hover {
    transform: perspective(2);
    background-color: rgb(48, 47, 47);
    border-radius: 0 0 5px 0;
}

.menu-items li svg {
    padding: 0 5px;
}

.menu-items li h4 {
    margin-left: 5px;
}



