@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: 0;
}

html, body, #root {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
}

/*Lembrar de escolher uma fonte*/
body, input, button {
    font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
}

 